* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --animate-duration: 1s;
}

.animate__animated {
  opacity: 0;
}

.lsp-1 {
  letter-spacing: .1rem;
}

.lsp-2 {
  letter-spacing: .15rem;
}

.lsp-3 {
  letter-spacing: .2rem;
}

* {
  font-family: 'Source Sans Pro', sans-serif;
}

.massive-button, .massive-button-lg {
  border: transparent solid 1px;
  outline: none;
  white-space: nowrap;
  font-size: 0.8rem;
  padding: 0.6rem 1.2rem;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.massive-button-lg {
  font-size: 1rem;
  padding: 0.8rem 2rem;
}

.white-dark-button {
  background-color: #fff;
  color: #333333;
  border: #333333 solid 1px;
}

.white-dark-button:hover {
  color: #fff;
  background-color: #333333;
}

.white-primary-button {
  background-color: #fff;
  color: #333333;
  border: #333333 solid 1px;
}

.white-primary-button:hover {
  color: #fff;
  background-color: #D6B161;
  border: transparent solid 1px;
}

.dark-primary-button {
  background-color: #333333;
  color: #fff;
  border: transparent solid 1px;
}

.dark-primary-button:hover {
  background-color: #D6B161;
}

.secondary-primary-button {
  background-color: #A9A8A8;
  color: #fff;
  border: transparent solid 1px;
}

.secondary-primary-button:hover {
  background-color: #D6B161;
}

.massive-input, .massive-input-lg {
  outline: none;
  border: none;
  font-size: 0.8rem;
  padding: 0.6rem 1.2rem;
  -webkit-transition: all .5s;
  transition: all .5s;
  border: transparent solid 1px;
}

.massive-input-lg {
  padding: .8rem 2rem;
  font-size: 1rem;
}

.text--primary {
  color: #D6B161;
}

.padding-y-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.padding-y-2, .section__heading {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.padding-y-3 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.padding-y-4, .section__content {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.padding-y-5, section {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.section__heading {
  text-align: center;
}

.border-transparent {
  border-color: transparent;
}

.bg-white {
  background-color: transparent;
  padding: 0;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

.bg-white .navbar-brand img {
  height: 56px;
}

header {
  -webkit-transition: all 1s;
  transition: all 1s;
  position: fixed;
  z-index: 3;
  width: 100%;
  background-color: transparent;
  padding: 2rem 0;
}

header .navbar-toggler-custom {
  padding: 0;
  border: none;
}

header .navbar-toggler-custom em {
  width: 20px;
  height: 3px;
  margin: 4px 0;
  display: block;
  background-color: #A9A8A8;
}

header .navbar-toggler-custom:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

header #main-navbar .nav-item > .nav-link {
  text-transform: uppercase;
  color: #333333;
  font-size: .8rem;
  font-weight: 400;
  white-space: nowrap;
  padding: .6rem 1rem;
}

header #main-navbar .nav-item > .nav-link:hover, header #main-navbar .nav-item > .nav-link.active {
  color: #D6B161;
}

@media (max-width: 992px) {
  header #main-navbar .nav-item:last-child > .nav-link {
    border-bottom: #f0f0f0 solid 1px;
  }
  header #main-navbar .nav-link {
    border-top: #f0f0f0 solid 1px;
  }
}

header .navbar-collapse {
  max-height: 350px;
  overflow-y: auto;
}

.home-section .carousel-item {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.home-section .carousel-control-next {
  cursor: e-resize !important;
}

.home-section .carousel-control-prev {
  cursor: w-resize !important;
}

.home-section .carousel-indicators button {
  height: .8rem;
  width: .8rem;
  border-radius: 50%;
  border: #fff solid 2px;
  background-color: transparent;
}

.home-section .carousel-indicators button.active {
  background-color: #fff;
  height: 12px;
  width: 12px;
}

.home-section .carousel-item {
  padding-top: 20rem;
  padding-bottom: 3rem;
  min-height: 100vh;
}

#about .feature-border-box {
  width: 100%;
  height: auto;
  padding: 2rem;
  border: #A9A8A8 solid 1px;
  border-radius: 0.4rem;
  position: relative;
}

#about .feature-border-box .icon {
  width: 60px;
  height: 60px;
  top: -30px;
  left: 30px;
  position: absolute;
  -webkit-box-shadow: 0 0 0 10px #fff;
          box-shadow: 0 0 0 10px #fff;
  background-color: #333333;
  color: #fff;
  border-radius: 0.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#about .feature-border-box .icon:hover {
  background-color: #D6B161;
}

#about .feature-border-box .feature-content {
  padding-top: 2rem;
}

#about .feature-title {
  font-weight: 500;
}

#about .about-item {
  z-index: 3;
}

#about .experiences {
  position: relative;
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

#about .experiences .dark-overlay {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  left: 50%;
  background-color: rgba(0, 0, 0, 0.5);
}

#about .experiences .progress {
  overflow: unset;
  height: 1.5rem;
  margin-top: 2rem;
  border-radius: 0;
}

#about .experiences .progress-bar {
  position: relative;
  overflow: unset;
  -webkit-transition: all 1s;
  transition: all 1s;
}

#about .experiences .progress-name {
  position: absolute;
  left: 1rem;
}

#about .experiences .progress-value {
  position: absolute;
  top: -1.5rem;
  right: 0;
  color: #fff;
  background-color: #A9A8A8;
  padding: 0 0.5rem;
  border-radius: 999px;
}

#about .experiences .progress-value::after {
  position: absolute;
  content: '';
  display: block;
  width: 0;
  height: 0;
  left: 40%;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 6px solid #A9A8A8;
}

#blog .post-single {
  position: relative;
}

#blog .post-single .lack {
  display: block;
  width: 1rem;
  height: 1rem;
  background-color: white;
  top: calc(50% - 0.5rem);
  position: absolute;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  left: calc(50% - 0.5rem);
}

#blog .post-single .post__top {
  min-height: 18rem;
  background-size: cover;
}

#blog .post-single .post__bottom {
  min-height: 18rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem;
  gap: 1rem;
}

#blog .blog__link {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#blog .blog__link:hover {
  color: #D6B161;
}

#blog .blog__view-all {
  color: #A9A8A8;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#blog .blog__view-all:hover {
  color: #333333;
}

#blog .horizontal-span {
  width: 4rem;
  height: 1px;
  background-color: #333333;
}

#blog .blog-banner__item {
  background-size: cover;
  padding: 6rem 3rem 3rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

#blog-carousel .carousel-inner {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 50%;
  background-size: cover;
  padding: 3rem 0;
}

#blog-carousel .carousel-item {
  padding: 3rem 0;
}

#blog-carousel .carousel-item .carousel-img {
  padding: 1rem;
}

#blog-carousel .carousel-item img {
  display: block;
  width: 7rem;
  height: 7rem;
  margin: 0 auto;
  border-radius: 50%;
}

#blog-carousel .carousel-content {
  padding: 1rem;
}

#blog-carousel .carousel-indicators button {
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
  margin-right: 0.8rem;
}

#contact .contact-bg {
  background-position: 50% 50%;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.contact-form__left, .contact-form__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: .5rem;
}

#features .index {
  color: #A9A8A8;
}

#features .feature-statistic {
  padding: 6rem 0;
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

#features .fun-factor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#features .fun-factor .icon {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-top: 1rem;
}

#features .fun-factor .shoet {
  height: 5rem;
  width: 1px;
  background-color: #fff;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  margin: 0 2rem;
}

#features .fun-factor .fun-info {
  text-transform: uppercase;
  font-weight: 300;
}

#portfolio .nav-link {
  color: #A9A8A8;
  border: none;
  cursor: pointer;
}

#portfolio .nav-link:hover, #portfolio .nav-link.mixitup-control-active {
  color: #333333;
}

#portfolio .portfolio__item {
  position: relative;
}

#portfolio .portfolio__item .portfolio-overlay {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: #e2e2e2 solid 1rem;
  background-color: rgba(255, 255, 255, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 2rem;
  gap: 0;
  -webkit-transition: all .5s;
  transition: all .5s;
  font-weight: 300;
}

#portfolio .portfolio__item .portfolio-overlay .lightbox-view-icon {
  color: #7E7E7E;
  cursor: pointer;
}

#portfolio .portfolio__item .portfolio-overlay .lightbox-view {
  color: #333333;
  cursor: pointer;
  margin: 0;
  letter-spacing: 0.15rem;
}

#portfolio .portfolio__item .portfolio-overlay .lightbox-view:hover {
  color: #D6B161;
}

#portfolio .portfolio__item .portfolio-overlay .category {
  text-decoration: none;
  font-size: 0.9rem;
  color: #7E7E7E;
  font-weight: 300;
  letter-spacing: 0.15rem;
}

#portfolio .portfolio__item .portfolio-overlay .category:hover {
  color: #D6B161;
}

#portfolio .portfolio__item:hover .portfolio-overlay {
  opacity: 1;
  gap: 1rem;
}

#portfolio .purchase {
  letter-spacing: .15rem;
}

#portfolio .purchase .purchase__title-1 {
  font-size: 1rem;
  font-weight: 300;
}

#portfolio .purchase .purchase__title-2 {
  padding-top: 1rem;
  font-size: 1.2rem;
  font-weight: 400;
}

#portfolio .purchase .purchase__title-2 span {
  color: #D6B161;
}

#price-table .price-table__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

#price-table .price-table__item__describe {
  line-height: 2.5rem;
}

#price-table .slick-dots {
  position: relative;
  bottom: 0;
}

#price-table .slick-dots button::before {
  font-size: .7rem;
}

#services .services__item {
  border: #A9A8A8 solid 1px;
  padding: 2rem;
  margin-bottom: -1px;
  margin-left: -1px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#services .services__item i {
  padding-bottom: 1rem;
}

#services .services__item:hover {
  background-color: #333333;
  border-color: transparent;
}

#services .services__item:hover .services__item__title {
  color: #fff;
}

#services .services__item:hover i {
  color: #D6B161;
}

#services #serviceCarousel .carousel-inner {
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#services #serviceCarousel .carousel-item__image {
  padding-top: 5rem;
}

#services #serviceCarousel .carousel-item__content {
  padding-bottom: 5rem;
  padding-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 1.5rem;
}

#services #serviceCarousel .carousel-item__content p {
  line-height: 2rem;
  font-style: italic;
}

#services #serviceCarousel .carousel-indicators {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#services #serviceCarousel .carousel-indicators button {
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
  margin-right: 1rem;
}

#team .team__item {
  background-size: 100% 100%;
  position: relative;
}

#team .team__item .item__info {
  position: absolute;
  bottom: 1rem;
  left: 30%;
  right: 0;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.6);
}

#team .team__item .item__info .name {
  color: #fff;
  font-size: 0.9rem;
  margin: 0;
}

#team .team__item .item__info .role {
  color: #A9A8A8;
  font-size: 0.8rem;
  margin: 0;
}

#team .team__item .item__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.9);
  border: 1.5rem solid rgba(0, 0, 0, 0.1);
  z-index: 1;
  text-align: center;
  gap: 30%;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: all .5s;
  transition: all .5s;
}

#team .team__item .item__overlay .overlay__content {
  position: absolute;
  top: 0;
  -webkit-transition: all .5s;
  transition: all .5s;
  width: 100%;
  padding: 0 1.5rem;
  font-weight: 400;
  font-size: .9rem;
}

#team .team__item .item__overlay .overlay__list-icon {
  position: absolute;
  bottom: -10rem;
  -webkit-transition: all .5s;
  transition: all .5s;
  width: 100%;
}

#team .team__item .item__overlay .icon {
  color: #333333;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#team .team__item .item__overlay .icon:hover {
  color: #d6b161;
}

#team .team__item .item__overlay:hover {
  opacity: 1;
}

#team .team__item .item__overlay:hover .overlay__content {
  top: 35%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#team .team__item .item__overlay:hover .overlay__list-icon {
  bottom: 10%;
}
/*# sourceMappingURL=main.css.map */