footer{
  .footer__logo{
    width: 8rem;
  }
  .list-icon{
    gap: 1rem;
  }
  .footer__icon{
    text-decoration: none;
    i{
      width: 2.5rem;
      height: 2.5rem;
      line-height: 2.5rem;
      color: $dark-color;
      border-radius: 50%;
      border: $dark-color solid 1px;
      transition: all .5s;
      &:hover{
        color: $white-color;
        background-color: $dark-color;
      }
    }
  }
}