.navbar-toggler-custom {
    padding: 0;
    em {
        width: 20px;
        height: 3px;
        margin: 4px 0;
        display: block;
    }
    border: none;
    &:focus {
        box-shadow: none;
    }
}

// Section
section {
    padding: 2rem 0;
}
.section__content {
    padding: 1rem 0;
}
.section__heading {
    padding: 1rem 0;
    text-align: center;
}

// ===================

.button {
    letter-spacing: 0.15rem;
    border: transparent solid 1px;
    outline: none;
    border-radius: 0.2rem;
    background-color: $lighter-color;
    text-transform: uppercase;
    white-space: nowrap;
    color: $white-color;
    transition: all .5s;
    &:hover {
        background-color: $primary-color;
    }
}

.lg-button {
    @extend .button;
    font-weight: 400;
    font-size: 1rem;
    padding: 0.7rem 2rem;
    
}
.md-button {
    @extend .button;
    font-weight: 300;
    font-size: .8rem;
    padding: 0.5rem 1.5rem;
}

.text--primary{
    color: $primary-color;
}

.black-button{
    @extend .button;
    background-color: $dark-color;
}
.white-button{
    @extend .button;
    background-color: $white-color;
    border: $dark-color solid 1px;
    color: $dark-color;
    &:hover{
        background-color: $dark-color;
        color: $white-color;
    }
}