* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --animate-duration: 1s;
    // --animate-delay: 100s;
}

.animate__animated{
    opacity: 0;
}

.lsp-1{
    letter-spacing: .1rem;
}
.lsp-2{
    letter-spacing: .15rem;
}
.lsp-3{
    letter-spacing: .2rem;
}
