.navbar-toggler-custom {
    padding: 0;
    em {
        width: 20px;
        height: 3px;
        margin: 4px 0;
        background-color: $secondary-color;
        display: block;
    }
    border: none;
    &:focus{
        box-shadow: none;
    }
}
